$searchColor:#7f7770;
$timetxtcolor:#54524f;
$timetitlecolor:#deb37e;
$readmore:#ffffff;
$readmoretxtcolor:#776c64;
$gotitle:#e2a355;
$gotext:#7f7770;

@mixin bg1 {
    background-image: url(../assets/bgteste2.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
   
    
    
}


.header{
    background-color: white;
    border-color: white;
    height: 150px;
    filter: drop-shadow(2.575px -4.286px 2.5px rgba(232,230,229,0.75));
}

.header__logo{
    
    
}

.search{
    background-color: $searchColor;
    border-radius: 25px;
    border-color: $searchColor;
}

.teste{
    margin-top: 49px;
}

.time{
    width: 100%;
    
    padding: 0;
    @include bg1();
}

.time__title{
    text-transform: uppercase;
    width: 580px;
    font-size: 92px;
    color: $timetitlecolor;
    font-weight: 800;
    font-family: "Open Sans";
    filter: drop-shadow(2.575px -4.286px 2.5px rgba(84,82,79,0.22));
    margin-top: 250px;
    margin-left: 47px;
}

.time__subtitle{
    text-transform: uppercase;
    width: 469px;
    height: 65px;
    font-size: 25px;
    letter-spacing: 5px;
    color: $timetxtcolor;
    font-weight: 700;
    font-style: italic;
    font-family: "Open Sans";
    text-align: center;
}

.time__text{
    width: 452px;
    height: 130px;
    font-size: 21px;
    letter-spacing: 1px;
    color: $timetxtcolor;
    font-weight: 400;
    font-style: italic;
    font-family: "Open Sans";
    margin-left: 44px;
    margin-bottom: 250px;
}

.time__readmoreback{
    margin-left: 44px;
    width: 218px;
    height: 47px;
    border-radius: 21px;
    background-color: $readmore;
    text-align: center;
    padding-top: 8px;
    margin-bottom: 20px;
}


.time__readmore{
    
    text-transform: uppercase;
    font-size: 25px;
    color: $readmoretxtcolor;
    font-weight: 800;
    font-family: "Open Sans";
}

.time__readmore:hover{
    text-decoration: none;
    color:$readmoretxtcolor;
}

.go__title{
    text-transform: uppercase;
    font-size: 63px;
    color: $gotitle;
    font-weight: 800;
    font-family: "Open Sans";
}

.go__text{
    
    height: 210px;
    font-size: 27px;
    color: $gotext;
    font-weight: 400;
    font-family: "Open Sans";
    text-align: center;
    
}